h1{
    font-weight: bold;
    color: #0a3253;
}
body{
    background-color: beige;
}
h2{
    font-weight: bold;
    color: #0a3253;
}
p{
font-weight: bold;
    font-size: 17px;
    color: rgb(49, 46, 46);
}